.social-button{
    width: 40px;
    position: fixed;
    top:27%;
    left: 3px;
    padding: 1px;
    display: block;
}
ul.social-icon{
    list-style: none;
    margin:0;
    padding:0;
}
ul.social-icon li{
    margin:3px 0px; 
}
@media (max-width:480px)
{
    .social-button{
        display: none;
    }
}
.logo{
    color: #9FF;
    font-size: 18px;
    margin-left: 12px;
    font-family: arial;
}
.table-caption
{
    font-size: 18px;
    color: #038;
    font-weight: bold;
}
/* my own table style */
	table.tbl{
			width:100%;
			border: 1px solid #ccc;
			border-spacing:0;
                        margin-top: 2px;
		}
		table.tbl tr th{
			text-align:left;
			font-family: arial;
			font-size: 12px;
			color: #039;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        text-align: center;
padding-left: 8px;
padding-right: 8px;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
		}
                table.tbl tr td:first-child{
                    text-align: center;
                    padding: 0;
                }
table.tbl tr th:last-child{
border-right: none;
}
		table.tbl tr{
			height: 32px;
			transition: all linear 0.3s;
		}
		table.tbl tr:first-child{
			background: #EAF3F3;
		}
		table.tbl tr td{
			font-family: arial;
			font-size: 12px;
			color: #036;
			padding-left: 8px;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
		}
		table.tbl tr td:last-child{
			border-right-width:0;
		}
		table.tbl tr:last-child td{
			border-bottom: 0px solid #ddd;
		}
		table.tbl tr:not(:nth-child(1)):hover{
			background: #CCE;
		}
/* vertical table */
.vtable{
	width: 600px;
	border: 0px solid #ccc;
	margin: 9px 2px;

}
.vtable tr{
	height: 40px;
	border-bottom: 1px solid #eee;
}
.vtable tr:last-child, .vtable tr:last-child td{
	border-bottom: none;
}
.vtable tr:nth-child(odd) th{
	width: 200px;
	padding: 4px 9px;
	font-weight: normal;
	background: #EAF3F3;
	color: darkgreen;
	text-align: left;
}
.vtable tr:nth-child(even) th
{
	width: 200px;
	padding: 4px 9px;
	font-weight: normal;
	background: #ddd;
	color: darkgreen;
	text-align: left;
}
.vtable tr td{
	padding: 4px 19px;
	border-bottom: 1px solid #eee;
	color: #038;
}
/* start responsive table section */
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 4px;
  border: 1px solid #ddd;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #7AA;/*#167F92*/;
  color: #FFF;
  padding: 0.5em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }

}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 9em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .3em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}
/* End of responsive table section */
#footer
{
    background: #bbe;padding:8px 2px;border-top:1px solid #AAB;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Somalida Style */
.hero-feature {
    margin-bottom: 0px;
}

footer {
    margin: 0px 0;
}

h4{
    padding : 10px 5px;
}
.margin-navbars{
    margin-bottom : 0px;
}
.marginh4{
    margin-bottom: 0px
}
.navbar-defulfs{
	background-color:white;
	border-color:white;
}
.navbar-default .navbar-nav > li > a{
	color:#ffffff;
}
.logo{
	margin-top:5px;
	}
.footer-p{
	padding-bottom: 0px;
    padding-left: 25px;
    padding-right: 25px;
	} 
.pg-primary
{
	background: green;
}
.text-white{
    color: #FFF;
}

.box{
    background: red;
}